.vagrant
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/build.settings
/app/config/phinx.yml
/app/config/parameters.yml
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
log
REVISION
tmp
*.swp
*.DS_Store
