postgres_host=localhost
postgres_database=orderware
postgres_username=orderware
postgres_password=

postgres_host_test=localhost
postgres_database_test=orderware_test
postgres_username_test=orderware_test
postgres_password_test=

redis_host=localhost
redis_port=6379

mailer_host=
mailer_username=
mailer_password=
mailer_default_email=

request_host=orderware.dev:8000
request_scheme=http

aws_key=
aws_secret=

file_directory=/var/apps/data/files/
file_bucket=orderware.files-dev
