<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}Orderware{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/orderwareapp/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/orderwareapp/css/orderware.css') }}">
</head>
<body>
    {% block body %}{% endblock %}

    <!-- Deployed at {{ build_date }} on {{ hostname }} -->
</body>
</html>
